<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field {
    color: red;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="container-fluid background" style="padding-top: 12%">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body shadow-lg grad">

          <form name="languageForm">

            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold text-center">
              Add Language
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold text-center">
              Update Language
            </h2>

            <!-- Messages -->
            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <!-- Language Code -->
            <div class="form-group pt-2">
              <label><b>Language Code</b><span class="required-field">*</span></label>
              <input type="text" name="languageCode" [(ngModel)]="form.data.languageCode"
                class="form-control" placeholder="Enter Language Code">
              <span *ngIf="form.inputerror.languageCode" class="alertRedColor">
                {{ form.inputerror.languageCode }}
              </span>
            </div>

            <!-- Language Name -->
            <div class="form-group pt-2">
              <label><b>Language Name</b><span class="required-field">*</span></label>
              <input type="text" name="languageName" [(ngModel)]="form.data.languageName"
                class="form-control" placeholder="Enter Language Name">
              <span *ngIf="form.inputerror.languageName" class="alertRedColor">
                {{ form.inputerror.languageName }}
              </span>
            </div>

            <!-- Region -->
            <div class="form-group pt-2">
              <label><b>Region</b><span class="required-field">*</span></label>
              <select class="form-control" name="region" [(ngModel)]="form.data.region">
                <option [ngValue]="undefined">Select Region</option>
                <option *ngFor="let r of form.preload.regionList | keyvalue" [value]="r.value">
                  {{ r.value }}
                </option>
              </select>
              <span *ngIf="form.inputerror.region" class="alertRedColor">
                {{ form.inputerror.region }}
              </span>
            </div>

            <!-- Status -->
            <div class="form-group pt-2">
              <label><b>Status</b><span class="required-field">*</span></label>
              <select class="form-control" name="status" [(ngModel)]="form.data.status">
                <option [ngValue]="undefined">Select Status</option>
                <option *ngFor="let s of form.preload.statusList | keyvalue" [value]="s.value">
                  {{ s.value }}
                </option>
              </select>
              <span *ngIf="form.inputerror.status" class="alertRedColor">
                {{ form.inputerror.status }}
              </span>
            </div>

            <!-- Buttons -->
            <div class="row pt-2 pl-2 pb-3">
              <div class="col-md-3"></div>

              <div class="pt-2">
                <button *ngIf="!form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  Save
                </button>
              </div>

              <div class="col-md-1"></div>

              <div class="pt-2">
                <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  Update
                </button>
              </div>

              <div class="pt-2">
                <a class="btn btn-warning mr-1" [routerLink]="['/languagelist']"
                  style="color:white;text-decoration:none">
                  List
                </a>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>